extends layout

block content
  div.container
    h1#movie-details Movie Details
    div.container2
      ul
        li#title Title: #{movie.title}
        li#director Director: #{movie.director}
        li#year Year: #{movie.year}
        li#notes Notes: #{movie.notes}
    form(id="delete-form" method="POST") 
      input(type="hidden" name="_method" value="DELETE") 
      button.button.delete-button(type="button") Delete 
    a.button.edit-button(href=`/movies/${movie._id}/edit`) Edit
    a.button.home-button(href=`/movies`) Home 

  // Add the JavaScript code here
  script.
    document.addEventListener('DOMContentLoaded', function() {
      const deleteButton = document.querySelector('.delete-button');
      const deleteForm = document.getElementById('delete-form');

      deleteButton.addEventListener('click', function() {
        if (confirm('Are you sure you want to delete this movie?')) {
          // Submit the form via AJAX
          fetch(deleteForm.action, {
            method: 'POST',
            body: new FormData(deleteForm),
          })
          .then(response => {
            if (response.ok) {
              // Redirect to the movies page after successful deletion
              window.location.href = '/movies';
            } else {
              throw new Error('Failed to delete movie');
            }
          })
          .catch(error => {
            console.error(error);
            // Handle error
          });
        }
      });
    });
