extends layout

block content
  h1 Movie Details
  ul
    li Title: #{movie.title}
    li Director: #{movie.director}
    li Year: #{movie.year}
    li Notes: #{movie.notes}
  a(href=`/movies/${movie._id}/edit`) Edit
  form(action=`/movies/${movie._id}?_method=DELETE`, method="POST")
    button(type="submit") Delete
